@font-face {
    font-family: "C64_Pro";
    src: url("../fonts/C64_Pro_Mono-STYLE.ttf") format("truetype");
}


body {
    text-align:center;
    background-color:black;
    font-family: "C64_Pro";
    text-transform:uppercase;
    color:#a892fa;
}

h1{
    font-size:28px;
    padding:15px;
}

.player-turn {
    font-size:20px;
    color:#a892fa;
}

.messages {
    font-size:20px;
    color:#a892fa;
}

.canvas {
    display:block;
    background-color:#5e47ed;
    width:800px;
    height:700px;
    padding:30px;
    border:50px solid #a892fa;
    margin:auto;
}

.grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    width:400px;
    height:400px;
    margin:auto;
    
}

.space {
    display:grid;
    margin:10px;
    width:100%;
    height:100%;
    background-color:#a892fa;
    place-items: center;
}

.move {
    font-size:50px; 
    color:#5e47ed;
}


.size-selector {
    text-align:left;
    width:70px;
    height:25px;
    background-color:#5e47ed;
    color:#a892fa;
    font-family: "C64_Pro";
    font-size:16px;
    border:none;
    -moz-appearance: textfield;
}

.reset-button {
    background-color:#5e47ed;
    color:#a892fa;
    font-family: "C64_Pro";
    font-size:16px;
    height:30px;
    border:none;
}

.size-label {
    display:inline;
}

.scoreboard {
    display:flex;
    justify-content: center;
    flex:auto;
    margin-top:10px;
}

.score {
    display:inline-block;
    padding: 20px 30px 20px 30px;
}