body {
    text-align:center;
    background-color:black;
    color:white;
}

.canvas {
    display:grid;
    background-image: url("../images/background.png");
    width:800px;
    height:550px;
    margin:auto;
}

.grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:0px;
    width:350px;
    height:350px;
    margin:auto;
}

.space {
    display:grid;
    width:100px;
    height:100px;
    background-image:url("../images/foreground.png");
}

.space span {
    background-image:url("../images/background.png");
    align-self: center;
    margin: auto
}

.move {
    font-family:helvetica;
    font-size:80px; 
    color:#322a6c
}

.size-selector {
    text-align:center;
}